<nav class="navbar navbar-expand-lg bg-success" style="border:2px solid black">
    <div class="container-fluid mb-4" >
      <a class="navbar-brand text-light" href="#">Angular CRUD </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item ">
            <a class="nav-link active text-light" aria-current="page" href="#">User Info</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#" routerLink="/read">All Users</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="#">Create User</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
